<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Advanced Search</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Language</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

              <!--<form action="#" method="get" id="sidebar_lang_search_form">-->
                  <ul class="treeview-menu language_chooser">
                    <li>
                      <a href="#">
                        <i class="fa" style="font-size:12px">
                          <input type="checkbox" id="all_check" value="all">
                          All
                        </i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <i class="fa" style="font-size:12px">
                          <input type="checkbox" id="eng_check" value="en">
                          English
                        </i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <i class="fa" style="font-size:12px">
                          <input type="checkbox" id="fr_check" value="fr">
                          French
                        </i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <i class="fa" style="font-size:12px">
                          <input type="checkbox" id="de_check" value="de">
                          German
                        </i>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <i class="fa" style="font-size:12px">
                          <input type="checkbox" id="ru_check" value="ru">
                          Russian
                        </i>
                      </a>
                    </li>
                    <li>
                      <span class="input-group-btn text-center">
                       <button type="button" name="search_language" id="search_language-btn" class="btn btn-md btn-flat">Submit</button>
                      </span>
                    </li>
                  </ul>
              <!--</form>-->
            </li>


            <li style="" class="tweetDateRangePicker">
                <a>
                    <i class="fa fa-calendar"></i> <span>Date</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
