<!DOCTYPE html>
<!-- Modal -->
<div class="modal fade" id="userModalContent" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tweets for Francois Hollande</h4>
      </div>
      <div class="modal-body">
      <div class="box-body">
                  <ul class="products-list product-list-in-box">
                    <li class="item">
                      <div class="product-img">
                        <img src="dist/img/user1-128x128.jpg" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="" class="product-title">Francois Hollande </a>
                        <span class="product-description">
                          My thoughts and prayers go to all in paris and especially those directly affected, stay safe get inside #PrayForParis
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="dist/img/user1-128x128.jpg" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="" class="product-title">Francois Hollande</a>
                        <span class="product-description">
                          If you're in Paris & need a safe place to go/stay, use #PorteOuverte on Twitter to find kind Parisians opening their homes. Pass it on. #you
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="dist/img/user1-128x128.jpg" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Francois Hollande</a>
                        <span class="product-description">
                          Sending thoughts and prayers to those in Paris #PrayForParis
                        </span>
                      </div>
                    </li><!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="dist/img/user1-128x128.jpg" alt="Product Image">
                      </div>
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Francois Hollande </a>
                        <span class="product-description">
                          Ses bougies qui brillent,ses fleurs poser sur le sol,ses dessin fais à la main... On ne vous oubliera jamais #NousSommeUnis #PrayForParis
                        </span>
                      </div>
                    </li><!-- /.item -->
                  </ul>
                </div><!-- /.box-body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>